#lightbox, #background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

#background {
  background-color: rgba(255, 255, 255, 0.5);
  background-color: #fff;
  opacity: .6;
}

#lightbox img {
  top: 100px;
  position: relative;
  box-shadow: 0 0 50px black;
  -webkit-box-shadow: 0 0 50px black;
  -moz-box-shadow: 0 0 50px black;
}

#lightbox #text {
  display: table;
  margin: 0px auto;
  padding: 20px 30px 40px 30px;
}

#lightbox p {
  position: relative;
  top: 100px;
  background-color: black;
  color: white;
  padding: 2px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#lightbox h2 {
  display: inline-block;
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* IE8 */
  width: 40px;
  height: 40px;
  padding: 6px;
  border: 2px solid black;
  margin: 17px 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#lightbox h2:hover {
  border-color: gray;
  color: gray;
}

#lb-nav {
  top: 80px;
  position: relative;
  text-align: center;
}

.navNext, .navPrev {
  z-index: 1000;
  height: 45px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.navNext:hover, .navPrev:hover {
  color: gray;
}
